.login{
    height:100vh;
    background-color: rgb(193,190,255);
    margin: 0 auto;
    .card{
        .left{
            h1{}
            p{}
            span{}
            span{}
            button{}
        }
        .right{
            h1{}
            form{}
            input{}
            button{}

        }
    }
}